
@import url(//db.onlinewebfonts.com/c/aa12a710af434ef5e04f88fc37a4c7cc?family=Klavika+Bold);

@font-face {font-family: "Klavika Bold"; src: url("//db.onlinewebfonts.com/t/aa12a710af434ef5e04f88fc37a4c7cc.eot"); src: url("//db.onlinewebfonts.com/t/aa12a710af434ef5e04f88fc37a4c7cc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aa12a710af434ef5e04f88fc37a4c7cc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aa12a710af434ef5e04f88fc37a4c7cc.woff") format("woff"), url("//db.onlinewebfonts.com/t/aa12a710af434ef5e04f88fc37a4c7cc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/aa12a710af434ef5e04f88fc37a4c7cc.svg#Klavika Bold") format("svg"); } 
   
body{
    font: 18px/36px 'Klavika Bold' , 'Arial';
    
}
h1 {
    font size: 80px;
    margin 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}
